importFrom(rstudioapi, getActiveProject)
importFrom(rstudioapi, getSourceEditorContext)
importFrom(httr, VERB)
importFrom(xml2, read_html)

export(problem)
export(submit)
export(rejudge.project)
export(rejudge.manifest)
export(rejudge.load)
