importFrom(rstudioapi, getActiveProject)
importFrom(rstudioapi, getSourceEditorContext)
importFrom(httr, VERB)
importFrom(xml2, read_html)
importFrom(xml2, xml_children)
importFrom(xml2, xml_parent)
importFrom(xml2, xml_text)
importFrom(xml2, xml_attr)
importFrom(rvest, html_element)
importFrom(rvest, html_elements)
importFrom(jsonlite, fromJSON)

export(problem)
export(problems)
export(submit)
export(rejudge.project)
export(rejudge.manifest)
export(rejudge.load)
